<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item">
                <h1>apie ifizika!<br/>
                    <small>Štai ką mes norime tau papasakoti...</small>
                </h1>
                Šio metinio projekto tikslas sukurti programą, šiuo atveju tinklalapį, kuriame mokinys lengvai gali
                rasti informaciją fizikos tema, susistemintą informaciją, pateikiamus vaizdo įrašus, formules,
                uždavinius.
                <br/><br/>
                <div class="text-right">
                    Made with <a href="http://www.aursad.eu/" target="_blank"><i class="fa fa-heart heart"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>
