<div data-ng-show="classData.categories.length > 0">
<input type="search" class="form-control app-search" placeholder="Paieška.." ng-model="q"/>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <a ng-repeat="category in classData.categories | orderBy:name:reverse | filter:q" href="klase/{{classId}}/skyrius/{{category.id}}"
               class="list-group-item" ng-click="goNext(category.id)">
                {{ category.name }} <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </div>
    </div>
</div>
</div>
<div data-ng-show="classData.categories.length == 0" class="col-sm-12">
    <br/>
    <div class="alert alert-danger" role="alert">Oops... Šioje klasėje skyrių nėra.</div>
</div>